@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.header {
    background: #338cf4;
    padding: 20px;
}

.account-icon {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    font-size: 1.5rem;
    padding: 5px;
    text-decoration: none;
    color: #f1f1f3;
}

#Sign-In, #Sign-Up {
    border: none;
}

#Sign-Up {
    background: #212138;
    padding: 10px;
    border-radius: 5px;
}

#Sign-In {
    color: #1b1b33;
    padding: 10px;
    border-radius: 5px;
}

#Sign-In a {
    color: #1b1b33;
}

.Bitcoin-img {
    width: 500px;
    height: 500px;
}