@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;                                  
}

body {
  height: 100vh;
  background: #212529;
  margin: 0 100px 0 100px;
  background: linear-gradient(#330033, #000022);
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: darkgray;
  font-size: 1.1rem;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: #0fae96;
}

.navbar ul li:last-child a {
  margin: 0;
}

.login {
  background: #0fae96;
  color: #fff;
  padding: 6px 30px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}


.title{
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}

.section1 {
  padding: 100px 0 0 0;
}

.describe {
  text-align: center;
  color: darkgrey;
  padding: 10px;
}

.btn-scroll {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn-scroll button {
  background: #0fae96;
  padding: 15px 30px;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}